body {
    margin: 0;
}

.nav-block {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: steelblue;
    position: fixed;
    top: 0;
    width: 100%;
    height: 66px;
}

.nav-button {
    float: left;
    border-right: 1px solid #bbb;
}

.nav-button:last-child {
    border-right: none;
}
.nav-link {
    display: block;
    color: #000;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;   /*removes the underline from the link*/
}

.nav-link:hover {
    background-color: blueviolet;
    color: azure;
}

.about-me-sec {
    background-image: url("ocean_and_sky.jpg");
    height: auto;
    padding-top: 50px;
    padding-bottom: 40px;
}

.greeting {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 28px;
}

.selfie-sec {
    margin-top: 75px;
    margin-bottom: 75px;
}

.selfie {
    display: block;
    width: auto;
    margin: auto;
    border-color: steelblue;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
        
}
.job-titles {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.portfolio-sec {
    background-color: #a3c3dc;
    text-align: center;   /*This centers the pictures in portfolio section*/
    height: auto;
}

.portfolio-sec a{
    display: inline-block;
}

.port-image-placement {
    width: 510px;
    height: 290px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    
 }

.contact-sec {
    background-color: #dae7f1;
    font-size: 18px;
    text-align: center;
    padding-bottom: 100px;
 }

.soc-med-sec {
    margin-top: 50px;

}

.soc-med-pic {
    height: 220px;
    width: 300px;
}

.section-title {
    text-align: center;
    padding-top: 60px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;

}

.fa:hover {
    opacity: 0.7;
}

.fa:active {
    border: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}
    
.fa-envelope-o {
    font-size: 48px;
}

.credits {
    text-align: center;
    font-size: 12px;
}


